@import 'nib'

body
  margin 100px auto 0
  width 600px
  font 12px Arial

hr
  clear both

form
  input[type="text"]
    width 100%
    padding 5px
    border 1px solid #aaa
    margin 0 10px 0 0
    box-sizing border-box
  select
    width 200px
    margin-left 10px
  input[type="submit"]
    width 100px
    height 20px
    float right
